.testing{
    border-left: 3px solid var(--primary-color);
    
    padding: 1em;
}

.testing-2{
    border-left: 3px solid var(--primary-color);
    padding: 0.8em;
}

.card{
    border-radius: 0 !important;
    margin-top: 5px;    
}

.card-header{
    
}

.add-semester-button-container{
    padding: 5px 0px;
}

.highlight{
    border-radius: 50%;
    padding: 5px;
}

.highlight:hover{
    background-color: rgb(194, 194, 194);
}