* {
    box-sizing: border-box;
}

.slides_container {
    width: 90%;
    display: flex;
    flex-direction: column;
    /* padding: 1em; */
}

.draggables_container {
    width: 10%;
    border-left: 2px solid rgb(141, 141, 141);
    background-color: #f0f5f9;
}

.slide {
    height: 77%;
    overflow: auto;
    background-color: #f0f5f9;
    padding: 10px;
}

.widgets {
    border-bottom: 2px solid rgb(141, 141, 141);
    margin: 0;
    padding: 1em;
    background-color: #007FFF;
    color:white;
    line-height: 40x;
    letter-spacing: 3px;
}

.copy-ql-editor {
    padding: 12px 15px;
}

.draggables {
    display: flex;
    gap: 10px;
    padding: 0.5em;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.single_slide_container {
    display: flex;
    width: 100%;
    gap: 10px
}
.pagination_addSlide_container{
    padding: 1em;
    border-top: 2px solid grey;
    box-shadow: 0px -5px 2px rgb(187, 187, 187);
}

.pagination_container {
    padding: 0.3em;
}

.pagination_container nav {
    align-items: right;
}

.heading_form_top {
    background-color: white;
    border-radius: 8px;
    padding: 10px 10px;
}

.heading_form_top_name {
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    line-height: 145%;
    width: 100%;
    border: none;
    outline: none;
    color: black;
    width: 100%;
}


.text_area{
    height: fit-content !important;
    resize: none;
}