
/* .draggable{ */
    /* width: 90px;
    text-align: center; */
    /* box-shadow: 2px 5px 15px -5px rgba(28, 27, 28, 0.7) !important; */
    /* box-shadow: rgba(14, 30, 37, 0.12) 0px 0px 2px 1px , rgba(14, 30, 37, 0.12) 0px 0px 2px 1px;
    border-radius:0.5em; */
    /* color: rgb(107, 97, 97); */
    /* color: var(--text-200);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family:"Montserrat";
    position: relative;
    padding: 0.2em; 
    background-color: #FFFFFF;
    height: 65px; */
/* } */

.draggable {
    width: 80px;
    font-size: 1rem;
    text-align: center;
    padding: 0.6rem;
    border: 1px solid var(--icons);
    border-radius: 5px;
    position: relative;
    /* color: #1F3A5F; */
    color:var(--icons);
    text-decoration: none;
    transition: 0.3s ease all;  
    cursor: pointer;
    background: white;
  }

  .draggable:hover{
    transform: scale(1.1,1.1);
  }

.draggable + p{
    margin: 0;
    font-size: 1rem;
    text-align: center;
    color: var(--blue-primary);
    font-weight: 500;
}

.draggable i{
    font-size: 2rem;
}