*{box-sizing: border-box;}


.builder_container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.title{
    padding: 1em;
    border-bottom: 2px solid rgb(141, 141, 141);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    overflow: auto;
}

.course_builder_container{
    display: flex;
    height: 85%;
    overflow: auto;
}

.sidebar_container{
    width: 15%;
    border-right: 2px solid rgb(141, 141, 141);
    height: 100%;
    overflow: auto;
    
}

.course_creator_container{
    display: flex;
    width: 85%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

